<h1 class='display-1 mb-1'>Beer request</h1>
<hr class='bg-primary mb-4' />

<div class='col d-flex flex-column align-items-center'>
  {{#if requests}}
    {{#each requests}}

      <div class='card mb-3'>
        <div class='row card-body align-self-center'>
          <p>Name: <b>{{name}}</b> from {{course}}</p>
          <p>Type: <b>{{type}}</b></p>
          <a class='btn btn-success' href='/delete/{{_id}}'>Delivered!</a>
        </div>
      </div>

    {{/each}}
  {{else}}
    <div class='row'>
      <div class='col d-flex flex-column'>
        <p class='align-self-center'>No requests for now!</p>
        <a href='/list' class='btn btn-danger align-self-center'>Reload</a>
      </div>
    </div>
  {{/if}}
</div>